$main-color = #4fd6f8
$main-color-dark = 79, 214, 248, 0.5
$sub-color = #90e5fa
$sub-color-dark = 79, 214, 248, 0.9
$btn-text-color = #FFF
$title-color = #000000
$title-color-dark = #90e5fa
$hover-color = #bbc5cf
$active-color = #93a3b3
